@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/SignikaNegative-Bold.eot');
    src: url('../fonts/SignikaNegative-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SignikaNegative-Bold.woff2') format('woff2'),
        url('../fonts/SignikaNegative-Bold.woff') format('woff'),
        url('../fonts/SignikaNegative-Bold.ttf') format('truetype'),
        url('../fonts/SignikaNegative-Bold.svg#SignikaNegative-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/SignikaNegative-Light.eot');
    src: url('../fonts/SignikaNegative-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SignikaNegative-Light.woff2') format('woff2'),
        url('../fonts/SignikaNegative-Light.woff') format('woff'),
        url('../fonts/SignikaNegative-Light.ttf') format('truetype'),
        url('../fonts/SignikaNegative-Light.svg#SignikaNegative-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/SignikaNegative-Medium.eot');
    src: url('../fonts/SignikaNegative-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SignikaNegative-Medium.woff2') format('woff2'),
        url('../fonts/SignikaNegative-Medium.woff') format('woff'),
        url('../fonts/SignikaNegative-Medium.ttf') format('truetype'),
        url('../fonts/SignikaNegative-Medium.svg#SignikaNegative-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/SignikaNegative-Regular.eot');
    src: url('../fonts/SignikaNegative-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SignikaNegative-Regular.woff2') format('woff2'),
        url('../fonts/SignikaNegative-Regular.woff') format('woff'),
        url('../fonts/SignikaNegative-Regular.ttf') format('truetype'),
        url('../fonts/SignikaNegative-Regular.svg#SignikaNegative-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('../fonts/SignikaNegative-SemiBold.eot');
    src: url('../fonts/SignikaNegative-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SignikaNegative-SemiBold.woff2') format('woff2'),
        url('../fonts/SignikaNegative-SemiBold.woff') format('woff'),
        url('../fonts/SignikaNegative-SemiBold.ttf') format('truetype'),
        url('../fonts/SignikaNegative-SemiBold.svg#SignikaNegative-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

