.product_details{
	padding-bottom: 6.5rem;
	.product_card{
		position: relative;

		.product_img{
			margin-bottom: 0;
			.organic_logo{
				width: 8.6rem;
				@media #{$md}{
					width: 5.7rem;
				}
			}
			.badge_wrap{
				.badge{
					font-size: 2rem;
				}
				.notice{
					font-size: 1.8rem;
					img{
						width: 2rem;
					}
				}
			}
			.heart{
				width: 2.9rem;
				height: 2.5rem;
			}
		}
	}
	.row{
		&.lg_gutter{
			>div{
				margin-top: 3rem;
			}
		}
	}
	.changing_img{
		img{
			&:not(.show){
				display: none;
			}
		}
	}
	.tab_img{
		display: flex;
		align-items: center;
		position: absolute;
		left: 2rem;
		bottom: 2rem;

		@media #{$sm}{
			position: relative;
			left: auto;
			bottom: auto;
			margin-top: 1.5rem;
		}

		a{
			display: inline-block;
			width: 12.3rem;
			border-radius: 0.9rem;
			margin-right: 1.5rem;
			border: 0.15rem solid $white;
			overflow: hidden;

			@media #{$md}{
				width: 6.7rem;
			}
		}
	}
	.details_wrap{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;

		.details_content{
			position: relative;
			padding: 3rem 0 0;
			@media #{$md}{
				padding: 5rem 0 0;
			}
			@media #{$sm}{
				padding: 0;
			}
			.manufacture{
				position: absolute;
				right: 0;
				top: 0;
				display: inline-block;
				width: 8.3rem;

				@media #{$md}{
					width: 6.4rem;
				}
				@media #{$sm}{
					top: -10rem;

					&.v2{
						top: -1rem;
					}
				}
			}
			.tag{
				text-transform: uppercase;
				color: #A2A2A2;
				font-size: 1.6rem;
				font-weight: 700;
				line-height: 1.1;
				margin-bottom: 0.9rem;
			}
			.title_lg{
				font-weight: 500;
				margin-bottom: 2rem;
				text-transform: none;
				max-width: 48rem;
			}
			.rating_wrap{
				display: flex;
				align-items: center;
				.rating{
					margin-right: 2rem;
					margin-bottom: 0;
				}
				a{
					color: #BDBDBD;
					transition: 0.3s;
					&:hover{
						color: #A2A2A2;
					}
				}
			}
			ul{
				padding-top: 2rem;
				li{
					margin-top: 1.5rem;
					position: relative;
					padding-left: 3.5rem;
					font-size: 1.8rem;
					line-height: 1.2;
					&::before{
						content: '';
						position: absolute;
						left: 0;
						top: 0.4rem;
						width: 1.7rem;
						height: 1.2rem;
						background-image: url(../img/check1.svg);
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center center;
					}
				}
			}
			a{
				&.link{
					text-transform: uppercase;
					color: $black;
					font-weight: 700;
					display: inline-flex;
					align-items: center;
					margin-top: 3rem;
					transition: 0.3s;
					i{
						margin-left: 2rem;
						font-size: 130%;
					}
					&:hover{
						color: $theme-color;
					}
				}
			}
		}
	}
	.details_bottom{
		.info_box{
			margin-bottom: 2rem;
			.info_icon{
				width: 6.5rem;
			}
			p{
				font-size: 1.6rem;
			}
		}
		.pricing_content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #F4F4F2;
			border-radius: 0.4rem;
			padding: 2.5rem 3rem;
			position: relative;

			h2{
				font-size: 3.5rem;
				font-weight: 500;
				line-height: 1;
				margin-bottom: 0.5rem;
			}
			p{
				color: #777777;
				&.vat{
					color: #BDBDBD;
				}
			}
			.nice_number{
				width: 9.2rem !important;
				height: 4.3rem;
			}
			.freeze_wrap{
				color: #6B94B2;
				text-decoration: underline;
				margin-top: 2rem;
				display: inline-flex;
				align-items: center;
				img{
					width: 2.4rem;
					margin-right: 1.5rem;
				}
			}
			@media #{$sm}{
				display: block;
				padding: 1.5rem;

				.freeze_wrap{
					position: absolute;
					right: 1.5rem;
					top: 1.5rem;
					margin-top: 0;
				}

				.right_place{
					margin-top: 1rem;
					.nice-number{
						margin-right: 1rem;
						width: 100%;
					}
					.nice_number{
						width: 100% !important;
						max-width: 100% !important;
						margin-right: 0;
						box-sizing: border-box;
						height: 4.5rem;
					}
					@media #{$sm}{
						.button{
							&.solid_gray{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
.accordion{
	border: 0.1rem solid #D9D9D9;
	border-radius: 0.4rem;

	.item{
		&:not(:last-child){
			border-bottom: 0.1rem solid #D9D9D9;
		}
		.text{
			padding: 0 3rem 3rem;
			@media #{$sm}{
				padding: 0 2rem 2rem;
			}

			ul{
				li{
					padding: 0.5rem 0;
					line-height: 1.1;
					display: flex;
					align-items: center;
					.line{
						border-top: 0.1rem dotted #A2A2A2;
						margin: 0 1rem;
						width: 100%;
						height: 0.1rem;
						background-color: transparent;
					}
					.content{
						flex-shrink: 0;
						&:first-child{
							color: #A2A2A2;
						}
					}
				}
				&.details_list{
					.content{
						&:first-child{
							min-width: 24rem;
						}
					}
				}
			}
		}
	}

	.title{
		padding: 2rem 3rem;
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 700;
		color: $black;
		display: flex;
		align-items: center;
		justify-content: space-between;
		line-height: 1.2;
		cursor: pointer;
		@media #{$sm}{
			padding: 1.5rem 2rem;
			font-size: 1.8rem;
		}
		&.active{
			i{
				transform: rotate(-180deg)
			}
		}

		i{
			font-size: 150%;
			line-height: 1;
			transition: 0.3s;
			margin-left: 0.5rem;
		}
	}
}
.product_accordion{
	padding-top: 7rem;
	@media #{$md}{
		padding-top: 3rem;
	}
	h4{
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 0.8rem;
	}
	p{
		max-width: 58rem;
	}
}
.gray_bg{
	background-color: rgba(#F4F4F2, 0.5);
	padding: 8rem 0;
}
.rating_box{
	border: 0.1rem solid #D9D9D9;
	border-radius: 0.4rem;
	margin: 6.5rem 0 4.5rem;
	.rating_header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #EFBA09;
		padding: 1.8rem 3rem;
		border-radius: 0.4rem 0.4rem 0 0;
		text-transform: uppercase;
		color: #fff;

		h4{
			display: flex;
			align-items: center;
			font-size: 2rem;
			font-weight: 700;
			img{
				width: 2.9rem;
				margin-right: 2rem;
			}
		}
		p{
			font-weight: 500;
			display: flex;
			align-items: center;

			i{
				margin-left: 3rem;
				font-size: 140%;
				line-height: 1;
			}
		}
		@media #{$xs}{
			padding: 1.5rem 2rem;

			h4{
				font-size: 1.8rem;
				img{
					margin-right: 1rem;
				}
			}
			p{
				i{
					margin-left: 1.5rem;
				}
			}
		}
	}
	.rating_middle{
		background-color: #F8F8F8;
		text-align: center;

		.rating_content{
			border-right: 0.1rem solid #D9D9D9;
			border-top: 0.1rem solid #D9D9D9;
			min-height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem 3rem;
			flex-direction: column;

			h2{
				font-size: 4.5rem;
				font-weight: 400;
				line-height: 1.1;
			}
			.rating{
				margin-bottom: 0;
				margin-top: 0.8rem;
			}
			.progress_wrap{
				display: flex;
				align-items: center;
				padding: 0.3rem 0;
				width: 100%;
				.progress_bar{
					width: 100%;
					height: 1rem;
					position: relative;
					overflow: hidden;
					background-color: #EBEBEB;
					margin: 0 2rem;
					border-radius: 0.2rem;

					.progress_value{
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						background-color: #EFBA09;
					}
				}
				p{
					flex-shrink: 0;
					min-width: 6rem;
					text-align: left;

					&:last-child{
						text-align: right;
						min-width: 3rem;
					}
				}
			}
			.button.solid_gray{
				margin-top: 1.5rem;

				&::before{
					background-color: $black;
				}
			}

			@media #{$sm}{
				padding: 1rem 1.5rem;

				p{
					font-size: 1rem;
				}
				h2{
					font-size: 3rem;
				}
				.progress_wrap{
					p{
						flex-shrink: 0;
						min-width: 4rem;
						text-align: left;

						&:last-child{
							text-align: right;
							min-width: 2rem;
						}
					}
					.progress_bar{
						margin: 0 0.5rem;
						height: 0.8rem;
					}
				}
				.button.solid_gray{
					font-size: 1rem !important;
					min-width: 100%;
				}
			}
		}
		.row{
			>div{
				&:last-child{
					.rating_content{
						border-right: none;
					}
				}
				@media #{$md}{
					&:nth-child(2){
						.rating_content{
							border-right: none;
						}
					}
				}
			}
		}
	}
	.rating_item{
		border-top: 0.1rem solid #D9D9D9;
		padding: 0 3rem 2.5rem;
		.row{
			>div{
				margin-top: 2.5rem;
			}
		}
		p{
			max-width: 92rem;
		}
		@media #{$sm}{
			padding: 0 1.5rem 1.5rem;
			.row{
				>div{
					margin-top: 1.5rem;
				}
			}
		}
	}
}
.bottom_btn{
	text-align: center;
	@media #{$sm}{
		.button{
			width: 100%;
		}
	}
}
.mute_text{
	color: #A2A2A2;
}

.manufacture_wrap{
	@media #{$md}{
		padding-top: 4rem;
	}
	.title_lg{
		padding-top: 5rem;
		@media #{$md}{
			padding-top: 2rem;
		}
	}
}