.total_area{
	padding-top: 1rem;
	padding-bottom: 9rem;

	h2{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2rem;
		line-height: 1.1;
		margin-top: 3rem;
	}	
	h4{
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.1;
		margin-top: 2.5rem;
	}
	p{
		margin: 1rem 0;
	}
}